@using Rap_Blog.CoreLayer.Utilities
@model List<Rap_Blog.CoreLayer.DTOs.Posts.PostDto>
<section class="section tab-post mb-16">
    <div class="title-wrap title-wrap--line">
        <h3 class="section-title">آخرین عنوان ها</h3>

    </div>

    <!-- tab content -->
    <div class="tabs__content tabs__content-trigger tab-post__tabs-content">

        <div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
            <div class="row card-row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <article class="entry card">
                            <div class="entry__img-holder card__img-holder">
                                <a asp-page="Post" asp-route-slug="@item.Slug">
                                    <div class="thumb-container thumb-70">
                                        <img data-src="@Directories.GetPostImage(item.ImageName)" src="img/empty.png" class="entry__img lazyload" alt=""/>
                                    </div>
                                </a>
                                @if (item.SubCategory != null)
                                {
                                    <a asp-page="Search" asp-route-categoryslug="@item.SubCategory.Slug" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">@item.SubCategory.Title</a>

                                }
                                else
                                {
                                    <a asp-page="search" asp-route-categorySlug="@item.Category.Slug" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">@item.Category.Title</a>

                                }
                            </div>

                            <div class="entry__body card__body">
                                <div class="entry__header">

                                    <h2 class="entry__title">
                                        <a asp-page="Post" asp-route-slug="@item.Slug">@item.Title</a>
                                    </h2>
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>نویسنده:</span>
                                            <a>@item.User.FullName</a>
                                        </li>
                                        <li class="entry__meta-date">
                                           @item.CreationDate.ToShortDateString()
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry__excerpt">
                                    <p>@Html.Raw(item.Description)</p>
                                </div>
                            </div>
                        </article>
                    </div>
                }


            </div>
        </div> <!-- end pane 1 -->

        <div class="tabs__content-pane" id="tab-world">
            <div class="row card-row">
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-9.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">بهترین کتاب‌های کودک و نوجوان برای تربیت فرزندان موفق</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>انتخاب کتاب مناسب برای فرزندان کار دشواری است. دوستی دارم که تعریف می‌کند در بچگی با پدر و مادرش به ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>عد از اعلام تصمیم سامسونگ برای به عقب انداختن عرضه گلکسی فولد، شایعاتی مبنی بر احتمال تاخیر در عرضه ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-5-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">۵ کتاب روانشناسی که برای زندگی بهتر باید بخوانید</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>این روزها مشکلات زندگی مدرن باعث شده که مردم بیش از پیش به نیازهای روانی خودشان توجه کنند. مشکلات حا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-2-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--orange">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">نمایشگر وان پلاس ۷ قرار است ما را شگفت‌زده کند!</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>مدیرعامل شرکت وان پلاس، آقای Pete Lau، اخیرا با وب‌سایت ورج مصاحبه داشته و برخی شایعاتی که درباره وا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div> <!-- end pane 2 -->

        <div class="tabs__content-pane" id="tab-lifestyle">
            <div class="row card-row">
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-9.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">بهترین کتاب‌های کودک و نوجوان برای تربیت فرزندان موفق</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>انتخاب کتاب مناسب برای فرزندان کار دشواری است. دوستی دارم که تعریف می‌کند در بچگی با پدر و مادرش به ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>عد از اعلام تصمیم سامسونگ برای به عقب انداختن عرضه گلکسی فولد، شایعاتی مبنی بر احتمال تاخیر در عرضه ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-2-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--orange">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">نمایشگر وان پلاس ۷ قرار است ما را شگفت‌زده کند!</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>مدیرعامل شرکت وان پلاس، آقای Pete Lau، اخیرا با وب‌سایت ورج مصاحبه داشته و برخی شایعاتی که درباره وا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-5-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">۵ کتاب روانشناسی که برای زندگی بهتر باید بخوانید</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>این روزها مشکلات زندگی مدرن باعث شده که مردم بیش از پیش به نیازهای روانی خودشان توجه کنند. مشکلات حا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div> <!-- end pane 3 -->

        <div class="tabs__content-pane" id="tab-business">
            <div class="row card-row">
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-2-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--orange">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">نمایشگر وان پلاس ۷ قرار است ما را شگفت‌زده کند!</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>مدیرعامل شرکت وان پلاس، آقای Pete Lau، اخیرا با وب‌سایت ورج مصاحبه داشته و برخی شایعاتی که درباره وا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-5-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">۵ کتاب روانشناسی که برای زندگی بهتر باید بخوانید</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>این روزها مشکلات زندگی مدرن باعث شده که مردم بیش از پیش به نیازهای روانی خودشان توجه کنند. مشکلات حا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-9.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">بهترین کتاب‌های کودک و نوجوان برای تربیت فرزندان موفق</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>انتخاب کتاب مناسب برای فرزندان کار دشواری است. دوستی دارم که تعریف می‌کند در بچگی با پدر و مادرش به ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>عد از اعلام تصمیم سامسونگ برای به عقب انداختن عرضه گلکسی فولد، شایعاتی مبنی بر احتمال تاخیر در عرضه ...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div> <!-- end pane 4 -->

        <div class="tabs__content-pane" id="tab-fashion">
            <div class="row card-row">
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>عد از اعلام تصمیم سامسونگ برای به عقب انداختن عرضه گلکسی فولد، شایعاتی مبنی بر احتمال تاخیر در عرضه ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-2-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--orange">موبایل و گجت</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">نمایشگر وان پلاس ۷ قرار است ما را شگفت‌زده کند!</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>مدیرعامل شرکت وان پلاس، آقای Pete Lau، اخیرا با وب‌سایت ورج مصاحبه داشته و برخی شایعاتی که درباره وا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-5-2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">۵ کتاب روانشناسی که برای زندگی بهتر باید بخوانید</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>این روزها مشکلات زندگی مدرن باعث شده که مردم بیش از پیش به نیازهای روانی خودشان توجه کنند. مشکلات حا ...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="entry card">
                        <div class="entry__img-holder card__img-holder">
                            <a href="single-post.html">
                                <div class="thumb-container thumb-70">
                                    <img data-src="img/content/thumb/post-9.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                                </div>
                            </a>
                            <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">کتاب و ادبیات</a>
                        </div>

                        <div class="entry__body card__body">
                            <div class="entry__header">

                                <h2 class="entry__title">
                                    <a href="single-post.html">بهترین کتاب‌های کودک و نوجوان برای تربیت فرزندان موفق</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">بهرامی راد</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        ۴ اردیبهشت ۱۳۹۸
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>انتخاب کتاب مناسب برای فرزندان کار دشواری است. دوستی دارم که تعریف می‌کند در بچگی با پدر و مادرش به ...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div> <!-- end pane 5 -->
    </div> <!-- end tab content -->
</section> <!-- end latest news -->